# Ignore build artifacts
build/

# Ignore editor and OS-specific files
*.o
*.out
*.exe
.DS_Store
*.swp
.vscode/

# Ignore Makefile intermediate files
Makefile~

# Generated web state files
data/board_state.json